* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

h2 {
    font-size: 36px;
    line-height: 1.35;
    font-family: noto sans;
    font-weight: 700;
    color: #040222;
    font-style: normal;
}

/* Here is Header section start */
.header {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.hederButton {
    font-size: 16px;
    letter-spacing: 0.2px;
    font-family: nunito sans;
    font-weight: 700;
    padding: 10px 24px;
    border: 1px solid #8be9e1;
    background: #8be9e1;
    color: #301c6b;
    border-radius: 7px;
}

.hederButton2 {
    font-size: 16px;
    letter-spacing: 0.2px;
    font-family: nunito sans;
    font-weight: 700;
    padding: 10px 24px;
    border: 1px solid #8be9e1;
    color: #8be9e1;
    border-radius: 7px;
    margin-left: 20px;
}
.hederButton2:hover {
    background: #53dbce;
    color: #301c6b;
}
.hederButton:hover {
    background: #53dbce;
}
.logoImage {
    max-height: 50px;
    width: auto;
    cursor: pointer;
}
.nav-link {
    color: #ffffff;
    font-family: nunito sans, Sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.bottomHeader {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    flex-wrap: wrap;
}

.rightSideHeader {
    padding: 0px 20px;
}
.rightSideHeader img {
    margin-top: 50px;
}

.leftSideHeader {
    padding: 0px 20px;
}
.leftSideHeader h2 {
    color: #ffffff;
    font-size: 55px;
    line-height: 1.2;
    font-family: noto sans;
    font-weight: 700;
}
.leftSideHeader p {
    margin-top: 20px;
    color: #fff;
    font-size: 22px;
    line-height: 1.4em;
}

.leftHeaderButton {
    margin: -8px -13px;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 20px;
}
.worksWith {
    margin-top: 30px;
}
.logoImage2 {
    padding: 0px 10px;
    height: 20px;
    width: 45px;
    margin-top: 22px;
    cursor: pointer;
    color: #fff;
}
/* Here is Header section end */

/* Here is overview section start */
.overview {
    background-image: url(../images/Section-0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
.row {
    margin: 0 auto;
}
.overviewLeftSide {
    background-image: url(../images/Group2-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.task {
    margin: 0 20px 0 0;
    padding: 10px 0 0 10px;
    background-color: rgb(223, 83, 83);
    transition: background 0.3s;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 10px 0 rgb(91 63 23);
    padding: 5px 10px;
    width: 50%;
}
/* Here is overview section end */



/* Here is basic feature start */
.section-button {
    display: inline-block;
    margin: 0;
    padding: 15px 20px 11px;
    background-color: #f7f4fd;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    color: #763de7;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.feature-section .feature-header p {
    width: 50%;
    margin: 0 auto;
}

.feature-header h2{
   margin-top: 20px;
}

.feature-header p{
   margin-top: 20px;
}

.feature-card {
    background-color: #f7f4fd;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
.feature-card h2{
   margin-top: 20px;
}
.feature-card p{
   width: 80%;
   text-align: center;
   margin: 0 auto;
}
.feature-card:not(:last-child) {
    margin-right: 80px;
}
/* Here is basic features section end */



/* Here is call to action section start */
.main-call-to-action {
    background-color: #f7f4fd;
    padding: 34px;
    border-radius: 15px;
}

.right-call-action {
   margin-left: 250px;
   width: 50%;
}

.left-call-action {
    margin-right: 20px;
}
/* Here is call to action section end */




/* Here is pricing section start */
.pricing-section .pricing-header p {
    width: 50%;
    margin: 0 auto;
}

.pricing-section {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.pricing-header h1 {
   margin-top: 100px;
}

.pricing-header p{
   margin-top: 20px;
}

.pricing-card p{
   width: 110%;
}
.card {
    display: flex;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,box-shadow 0.3s;
    margin: 0 20px -60px 0;
    padding: 35px 40px 40px;
    border-radius: 15px 15px 15px 15px;
}

.dollar {
   font-size: 60px;
}

.pricingList li{
   margin-top: 30px;
   line-height: 0.8;
}

.pricing-card:not(:last-child) {
    margin-right: 50px;
    margin: 0 auto;
}
.pricingBottomImage {
    display: flex;
    justify-content: space-between;
}
.pricingBottomImage img {
   display: flex;
   height: 100;
   margin-top: 100px;
   margin: 0 auto;
   text-align: center;
}
/* Here is pricing section end */




/* Here is more features section start */
.moreFeaturesCards1, .moreFeaturesCards2, .moreFeaturesCards3, .moreFeaturesCards4 {
   border-radius:10px;
   padding: 35px 30px;
}
.moreFeaturesCards1 p, .moreFeaturesCards2 p, .moreFeaturesCards3 p, .moreFeaturesCards4  p{
   width: 75%;
}

/* Here is more features section end */


/* Here is improve section start */
.improve {
    position: relative;
}
.improve h1 {
    font-size: 48px;
    line-height: 1.2;
    font-family: noto sans;
    font-weight: 700;
    color: #040222;
    font-style: normal;
}

.improve button {
    font-size: 16px;
    letter-spacing: 0.2px;
    font-family: nunito sans;
    font-weight: 700;
    padding: 14px 24px;
    border: 1px solid #5227c7;
    background: #5227c7;
    color: #fff;
    border-radius: 7px;
}

.improveImageRight img {
    width: 20%;
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
    position: absolute;
}

.improveImageLeft {
    width: 10%;
    margin-top: -30px;
    position: absolute;
}
/* Here is improve section end */




/* Here is footer section start */
.footer-area {
    padding: 90px 0 60px 0;
    background: #5d21d2;
    color: #fff;
}

.footer-social {
    margin-top: 20px;
}

.single-footer h3 {
    font-weight: 500;
    margin-bottom: 25px;
    color: #fff;
    font-family: Merienda;
}

.link-area li {
    padding: 5px 5px 5px 0;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
.link-area li a {
    text-transform: capitalize;
    color: rgb(240, 232, 232);
    font-family: Merienda;
    text-decoration: none;
}

.link-area li a i {
    margin-right: 10px;
    color: #f7f3f2;
    text-decoration: none;
}

.link-area {
    padding: 0;
    text-decoration: none;
}
.single-footer p {
    font-family: Merienda;
}
.footer-social li a {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.footer-social li a i {
    color: #fff;
    padding: 8px;
    font-size: 20px;
}
.footer-social li a i:hover {
    color: rgb(211, 205, 205);
    padding: 8px;
}
.footerInputArea {
    padding: 10px 15px;
    border-radius: 5px;
}
.footerAreaButton {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #53dbce;
    margin-top: 20px;
}

.footerAreaButton:hover {
    background-color: #18e2ce;
}
/* Here is footer section end */



